# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / Packaging
dist/
build/
*.egg-info/

# Unit test / coverage
.pytest_cache/
.coverage
htmlcov/

# Environments
.env
.venv/
venv/
ENV/

# IDEs
.vscode/
.idea/

# MyPy
.mypy_cache/

# Ruff
.ruff_cache/

# System
.DS_Store

# Panel/Bokeh
.bokeh/
temp/
