name: Release to PyPI

on:
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    environment: release
    permissions:
      id-token: write  # IMPORTANT: for trusted publishing

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v1

      - name: Build
        run: |
            uv sync
            uv run python scripts/download_assets.py
            uv build

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
